
{% extends 'base.html' %}

{% load static tailwind_tags %}
{% block content %}



<div class="py-6">

    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm ">
            <form class="w-full p-8 " method="POST" action="">
                {% csrf_token %} 
                <h2 class="text-2xl font-semibold text-gray-700 text-center">BO Stat</h2>
                
                <div class="mt-4 flex items-center justify-between">
                    <span class="border-b w-1/5 lg:w-1/4"></span>
                    <a href="#" class="text-xs text-center text-gray-500 uppercase">Connectez vous</a>
                    <span class="border-b w-1/5 lg:w-1/4"></span>
                </div>
                <div class="mt-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Email</label>
                    <input id="username" name="username" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="username">
                </div>
                <div class="mt-4">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
                        {% comment %} <a href="#" class="text-xs text-gray-500">Forget Password?</a> {% endcomment %}
                    </div>
                    <input id="password" name="password" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password">
                </div>
                <div class="mt-8">
                    <input type="submit" value="Login" class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600"></input>
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <span class="border-b w-1/5 md:w-1/4"></span>
                    <a href="#" class="text-xs text-gray-500 uppercase">or sign up</a>
                    <span class="border-b w-1/5 md:w-1/4"></span>
                </div>
            </form>
        </div>
    </div>
</div>


  {% endblock content %}
