    

{% extends 'dashboard_base.html' %}

{% load static tailwind_tags %}



  {% block container_header %}


<script>

    var marques_config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            'red', 'blue', 'green', 'orange', '#D3D3D3'
          ],
          label: 'Marques'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        maintainAspectRatio: false

      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      var ctx2 = document.getElementById('pie-chart-2').getContext('2d');
      var ctx3 = document.getElementById('pie-chart-3').getContext('2d');
      var ctx4 = document.getElementById('pie-chart-4').getContext('2d');
      window.myPie = new Chart(ctx, marques_config);
      window.myPie = new Chart(ctx2, marques_config);
      window.myPie = new Chart(ctx3, marques_config);
      window.myPie = new Chart(ctx4, marques_config);
    };

  </script>


  <div class="container flex overflow-scroll w-full">
    <div class="flex flex-row overflow-x-scroll w-full">
        <div class="flex h-full flex-1">
            <canvas width="100%" id="pie-chart"></canvas>
          </div>
        
          <div class="flex h-full flex-1 w-1/4 overflow-scroll ">
            <canvas width="100%" id="pie-chart-2"></canvas>
          </div>
          <div class="flex h-full flex-1">
            <canvas width="100%" id="pie-chart-3"></canvas>
          </div>
        
          <div class="flex h-full flex-1 0">
            <canvas width="100%" id="pie-chart-4"></canvas>
          </div>
        
      </div>
  </div>
  

  


{% endblock container_header %}

{% block container_body %}

{% endblock container_body %}

