
{% extends 'dashboard_base.html' %}

{% load static tailwind_tags %}

<script>
    $(document).ready( function () {


      var oTable = $('#myProductTable').DataTable({
        dom: '<"top"i>rt<"bottom"lp><"clear">',
        buttons: [
        'csv'
        ]
        
      });
      $('#bostatfilter_Product').keyup( function () {
        oTable.search(this.value).draw();
        } );
  } );
   // var table_dataset = [{{ table_dataset|safe }}]

</script>

{% block container_header %}


<div id="map" class="w-full h-full">

</div>

{% endblock container_header %}

{% block container_body %}
<div class="flex flex-col h-full ">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 h-full">
      <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8 h-full">
        <div class="overflow-hidden  flex flex-col h-full ">
          <table id='myProductTable' class="min-w-full text-center min-h-full flex-1">
            <thead class="border-b bg-gray-800 max-w-full  overflow-scroll">
              <tr class="overflow-scroll">
               
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  #
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    Libelle
                  </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                 Dernier scan
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Image
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Nombre scan
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  {{ "% Scan" }}
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                  Date Modification
                </th>
              </tr>
            </thead class="border-b">
            <tbody>
  
              {% for produit in table_dataset %}
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ forloop.counter }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ produit.libelle_produit }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ produit.date_creation }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  Image
                
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  -
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ produit.date_modification }}
                </td>
              </tr class="bg-white border-b">
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock container_body %}

